<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页底部</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/public/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/public/css/index.css"/>
</head>
<body>
   	<!-- 底部开始 -->
	<div class="foot area clearfix">
		<div class="pic1"></div>
	    <div class="pic2"></div>
	    <div class="pic3"></div>
	</div>
	<div class="foot-2 area clearfix">
		<ul>

		
		</ul>

	</div>
	<div class="black10"></div>
	<div class="hr area clearfix">
	    <hr/>
	</div>
	<div>IP{$IP}</div>
	<div class="foot-3 area">
	   <p>24小时客户服务热线：4006900000 010-82623378 
           <a href="#">常见问题解答</a>
           <a href="#">互联网违法和不良信息举报</a></p>
       <p><a href="#">新闻中心意见反馈留言板</a></p>
       <p>
       		<a href="#">达内简介　|</a>
       		<a href="#">关于达内　|</a>
       		<a href="#">广告服务　|</a>
       		<a href="#">联系我们　|</a>
       		<a href="#">招聘信息　|</a>
       		<a href="#">网站律师　|</a>
       		<a href="#">通行证注册　|</a>
       		<a href="#">产品答疑　|</a>
       </p>
	</div>
</body>
</html>