<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻首页</title>
<link rel="stylesheet" href="__ROOT__/public/css/reset.css"/>
<link rel="stylesheet" href="__ROOT__/public/css/index.css"/>
<script src="__ROOT__/library/jquery/jquery-1.10.0.min.js"></script>
<script>
$(function(){
	$('#click_num').on('click',function(){
		$('#cot_list').css('display','none');
		$('#click_list').css('display','block');
		$(this).parent().addClass('cur');
		$('#cot_num').parent().removeClass('cur');
	});
	$('#cot_num').on('click',function(){
		$('#click_list').css('display','none');
		$('#cot_list').css('display','block');
		$(this).parent().addClass('cur');
		$('#click_num').parent().removeClass('cur');
	});
});
</script>
</head>
<body>
<!--头部快速链接开始-->
<include file="Public:header"/>
<div class="c1 area clearfix">
         <div class="left">
            <div class="focus-info">
               <ul class="focus-img">
                  <li><a href="#"><img src="__ROOT__/public/ad/12493512_1342949594483.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="__ROOT__/public/ad/12493512_1342949594488.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="__ROOT__/public/ad/12493512_1342949594489.jpg" alt=""/></a></li>
               </ul>
               <ul id="focus-text" class="clearfix"></ul>
               <div class="focus-square"></div>
               <div class="focus-text">一周图片精选:考试排队</div>             
            </div>
         </div>
         <div class="right">
            <ul class="list-hot">
               <li>
                  <h3><a href="#">习近平：让人民对改革有更多获得感</a></h3>
                  <p>[ <a href="#">规范领导配偶子女经商试点首选上海</a> <a href="#">韩正回应:这是中央信任</a> ]</p>
               </li>
               <li>
                  <h3><a href="#">习近平：让人民对改革有更多获得感</a></h3>
               </li>
               <li>
                  <h3><a href="#">习近平：让人民对改革有更多获得感</a></h3>
                  <p>[ <a href="#">规范领导配偶子女经商试点首选上海</a> <a href="#">韩正回应:这是中央信任</a> ]</p>
               </li>
               <li>
                  <h3><a href="#">习近平：让人民对改革有更多获得感</a></h3>
                  <p>[ <a href="#">规范领导配偶子女经商试点首选上海</a> <a href="#">韩正回应:这是中央信任</a> ]</p>
               </li>
               <li>
                  <h3><a href="#">习近平：让人民对改革有更多获得感</a></h3>
                  <p>[ <a href="#">规范领导配偶子女经商试点首选上海</a> <a href="#">韩正回应:这是中央信任</a> ]</p>
               </li>
               <li>
                  <h3><a href="#">习近平：让人民对改革有更多获得感</a></h3>
                  <p>[ <a href="#">规范领导配偶子女经商试点首选上海</a> <a href="#">韩正回应:这是中央信任</a> ]</p>
               </li>
            </ul>
         </div>
    </div>
    <!--版块c1结束  -->
    <!--版块c2开始  -->
    <div class="c2 area clearfix">
       <div class="big-title">
          <h2 class="china">国内新闻</h2>
         
       </div>
       <div class="blank10"></div>
       <div class="left">
          <div class="title1">
             <h3><a href="__APP__/Category/index/id/4">内地新闻</a></h3>
          </div>
          <div class="blank10"></div>
          <ul class="list1">
          	 <foreach name="chinaRow" item="v">
          	 <li><a href="__ROOT__/public/articles/{$v.filepath}">{$v.art_subject}</a></li>
          	 </foreach>
          </ul>
       </div>
       <div class="left">
           <div class="title1">
             <h3><a href="__APP__/Category/index/id/5">港澳台新闻</a></h3>
           </div>
           <div class="blank10"></div>
           <ul class="list1">
	 <foreach name="hongRow" item="v">
          	 <li><a href="__ROOT__/public/articles/{$v.filepath}">{$v.art_subject}</a></li>
          	 </foreach>
          </ul>
       </div>
       <div class="right">
           <div class="title2">
             <h3 class="cur"><a href="javascript:viod(0)" id="click_num">点击量排行</a></h3>
             <h3 ><a href="javascript:viod(0)" id="cot_num">评论数排行</a></h3>
           </div>
           <div class="blank10"></div>
           <ul class="tab-content"  style="display:block;" id="click_list">
    	 <foreach name="click" item="v">
          	 <li><a href="__ROOT__/public/articles/{$v.filepath}">{$v.art_subject}</a></li>
          	 </foreach>
           </ul>
           <ul class="tab-content" id="cot_list">
	 <foreach name="cmt_num" item="v">
          	 <li><a href="__ROOT__/public/articles/{$v.filepath}">{$v.art_subject}</a></li>
          	 </foreach>
       
           </ul>
       </div>
    </div>
    <!--版块c2结束  -->
   <!--版块c3开始  -->
     <div class="c2 area clearfix">
       <div class="big-title">
          <h2 class="world">国际新闻</h2>
       </div>
       <div class="blank10"></div>
       <div class="left">
          <div class="title1">          
             <h3><a href="__APP__/Category/index/id/6">最新消息</a></h3>
          </div>
          <div class="blank10"></div>
          <ul class="list1">
          <foreach name="newsRow" item="v">
            <li><a href="__ROOT__/public/articles/{$v.filepath}">{$v.art_subject}</a></li>
         </foreach>
          </ul>
       </div>
       <div class="left">
           <div class="title1">
             <h3><a href="__APP__/Category/index/id/7">环球视野</a></h3>
           </div>
           <div class="blank10"></div>
           <ul class="list1">
            
          <foreach name="worldRow" item="v">
            <li><a href="__ROOT__/public/articles/{$v.filepath}">{$v.art_subject}</a></li>
         </foreach>
                    
          </ul>
       </div>
       <div class="right">
           <div class="title1">
             <h3><a href="#"><span>海</span>外观察</a></h3>
           </div>
           <div class="blank10"></div>
           <div class="box">
              <div class="pic-txt">
                 <div>
                    <a href="#"><img src="common/photoview/U11594P1DT20150226092629.jpg" alt=""/></a>
                 </div>
                 <p>英国威廉王子要来中国，英媒很激动，称之为“历史性”的访问。王子访华有啥热闹</p>
              </div>
              <div class="pic-txt">
                 <div>
                    <a href="#"><img src="common/photoview/U11594P1DT20150226092629.jpg" alt=""/></a>
                 </div>
                 <p>英国威廉王子要来中国，英媒很激动，称之为“历史性”的访问。王子访华有啥热闹</p>
              </div>
              <div class="pic-txt">
                 <div>
                    <a href="#"><img src="common/photoview/U11594P1DT20150226092629.jpg" alt=""/></a>
                 </div>
                 <p>英国威廉王子要来中国，英媒很激动，称之为“历史性”的访问。王子访华有啥热闹</p>
              </div>
           </div>
       </div>
    </div>
   <!--版块c3结束  -->
     <!--版块c4开始  -->
   <div class="blank10"></div>
   <div class="c4 area clearfix">
      <div class="big-title">
         <h2 class="society"><a href="#">社会新闻</a></h2>
      </div>
      <div class="blank20"></div>
      <ul class="pic-pic clearfix">
      <foreach name="society" item="v">
        <li>
           <a href="__ROOT__/public/articles/{$v.filepath}"><img src="{$v.img}"/></a>
           <p><a href="__ROOT__/public/articles/{$v.filepath}">{$v.art_subject}</a></p>
        </li>
</foreach>
      </ul> 
   </div>  
    <!--版块c4结束 --> 
<include file="Public:footer"/>
 
</body>
</html>